@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--app-header-height: 64px;
	--app-sidebar-width: 330px;
}
@media screen(sm) {
}
@media screen(md) {
}
@media screen(lg) {
	:root {
		--app-header-height: 88px;
	}
}

.text-underline-decorator :first-child {
	position: relative;
}
.text-underline-decorator :first-child::after {
	content: '';
	width: 100%;
	height: 1px;
	background-color: black;
	position: absolute;
	bottom: 0;
	left: 0;
	transition-duration: 200ms;
	opacity: 0;
	transform: translateY(8px);
}
.text-underline-decorator:hover span::after {
	transform: translateY(4px);
	opacity: 1;
}
