@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--app-header-height: 64px;
	--app-sidebar-width: 330px;
}
@media screen(sm) {
}
@media screen(md) {
}
@media screen(lg) {
	:root {
		--app-header-height: 88px;
	}
}
